<!--
To change this template use Tools | Templates.
-->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>RailsforZombies</title>
</head>
<body>
<header>...</header>
<% yield %>
    <h1>Listing tweets</h1>
    <table>
        <tr>
            <th>Status</th>
            <th>Zombie</th>
        </tr>
    </table>
    </body>
</html>